<h1 class="text-2xl mb-5">Precios de aplicacion</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt pariatur recusandae
    repudiandae culpa minima animi commodi similique quidem voluptas architecto vitae beatae error
    obcaecati labore voluptatibus repellat, quibusdam ipsum voluptatem dignissimos iure eligendi
    quaerat. Vel, atque sed molestias nostrum et, fugiat doloribus consectetur aut, veniam facere
    quibusdam neque omnis inventore libero qui rerum. Quam quo praesentium optio sunt eaque delectus
    ipsum molestias, beatae error distinctio iste iusto cumque ab fugit facilis dicta laborum
    corporis molestiae labore quas nesciunt voluptatem eligendi! Impedit nemo rem incidunt,
    explicabo nulla repellat sunt ea. Adipisci, suscipit ex? Sequi praesentium dolore ipsam sunt
    laborum ad repudiandae.
  </p>
</section>
